<div class="addButton">
  <button nz-button nzType="primary" (click)="createModalShow()">Add product</button>
</div>
<div>
  <nz-table #basicTable [nzData]="productsList">
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of basicTable.data">
      <td>{{product.name}}</td>
      <td>{{product.description}}</td>
      <td>{{product.price}}</td>
      <td>
        <button nz-button nzType="primary" nzShape="circle" (click)="readModalShow(product)"><i nz-icon nzType="read" nzTheme="outline"></i></button>
        <button nz-button nzType="primary" nzShape="circle" (click)="updateModalShow(product)"><i nz-icon nzType="edit" nzTheme="outline"></i></button>
        <button nz-button nzType="primary" nzShape="circle" nzDanger (click)="deleteProduct(product.url)"><i nz-icon nzType="delete" nzTheme="outline"></i></button>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>

<div>
  <nz-modal [(nzVisible)]="readModalIsVisible" nzTitle="Product" (nzOnCancel)="readModalHandleCancel()" (nzOnOk)="readModalHandleOk()">
    <p><b>id</b>: {{productToShow.id}}</p>
    <p><b>name</b>: {{productToShow.name}}</p>
    <p><b>description</b>: {{productToShow.description}}</p>
    <p><b>price</b>: {{productToShow.price}}</p>
    <p><b>url</b>: {{productToShow.url}}</p>
  </nz-modal>
</div>

<div>
  <nz-modal [(nzVisible)]="updateModalIsVisible" nzTitle="Product" (nzOnCancel)="updateModalHandleCancel()" (nzOnOk)="updateModalHandleOk()">
    <p>
      <b>name</b>:
      <label>
        <input nz-input placeholder="Basic usage" [(ngModel)]="productToEdit.name" />
      </label>
    </p>
    <p>
      <b>description</b>:
      <label>
        <input nz-input placeholder="Basic usage" [(ngModel)]="productToEdit.description" />
      </label>
    </p>
    <p>
      <b>price</b>:
      <label>
        <input nz-input placeholder="Basic usage" [(ngModel)]="productToEdit.price" />
      </label>
    </p>
    <p>
      <b>url</b>:
      <label>
        <input nz-input placeholder="Basic usage" [(ngModel)]="productToEdit.url" />
      </label>
    </p>
  </nz-modal>
</div>

<div>
  <nz-modal [(nzVisible)]="createModalIsVisible" nzTitle="Product" (nzOnCancel)="createModalHandleCancel()" (nzOnOk)="createModalHandleOk()">
    <p>
      <b>name</b>:
      <label>
        <input nz-input placeholder="Basic usage" [(ngModel)]="this.name" />
      </label>
    </p>
    <p>
      <b>description</b>:
      <label>
        <input nz-input placeholder="Basic usage" [(ngModel)]="this.description" />
      </label>
    </p>
    <p>
      <b>price</b>:
      <label>
        <input nz-input placeholder="Basic usage" [(ngModel)]="this.price" />
      </label>
    </p>
    <p>
      <b>url</b>:
      <label>
        <input nz-input placeholder="Basic usage" [(ngModel)]="this.url" />
      </label>
    </p>
  </nz-modal>
</div>
